.idea
*.log
node_modules
android
ios
__tests__
App.js
index.js
babel.config.js
metro.config.js
app.json
.buckconfig
.editorconfig
.eslintrc.js
.gitattributes
.gitignore
.prettierrc.js
.watchmanconfig
